<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Tabela</title>
    <link rel="stylesheet" href="../static/Exercicio_1.css">
</head>
<body>

<table>
  <h3> Notas dos alunos do 2° ano do ensino fundamental </h3>

<!-- THEAD = Define o cabeçalho  -->
  <thead>

<!-- TR = Define a linha -->
    <tr>

<!-- TH = Define a celula do cabeçalho        -->
      <th> Aluno </th>
      <th> Matemática</th>
      <th> Português </th>
      <th> História </th>
      <th> Geografia </th>
      <th> Ciências </th>
    </tr>
  </thead>
  <tbody>

    <tr>
    <!-- TR = Define uma celula -->
        <td><strong> Alice </strong> </td>
        <td> 7,5 </td>
        <td> 8,9 </td>
        <td> 8 </td>
        <td> 8,2 </td>
        <td> 10 </td>
    </tr>

    <tr>
      <td><strong> Pedro </strong></td>
        <td> 8,5 </td>
        <td> 8 </td>
        <td> 8,5 </td>
        <td> 9 </td>
        <td> 10 </td>
    </tr>

    <tr>
        <td><strong> Ricardo </strong></td>
        <td> 7 </td>
        <td> 7,9 </td>
        <td> 8 </td>
        <td> 8 </td>
        <td> 9,5 </td>
    </tr>

    <tr>
      <td><strong> Bianca</strong></td>
        <td> 9 </td>
        <td> 8,7 </td>
        <td> 8,5 </td>
        <td> 8,7 </td>
        <td> 10 </td>
    </tr>


<!-- TDODY = Corpo  -->
  </tbody>
</table>
</body>