<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Tabela</title>
    <link rel="stylesheet" href="../static/Exercicio_2.css">
</head>
<body>

<table>
    <thead>
    <tr>
        <th colspan="2"> BRASILEIREÃO - 17° RODADA</th>
        <th> P</th>
        <th> J</th>
        <th> V</th>
        <th> SG</th>
        <th> GP</th>
    </tr>
    </thead>


    <tbody>
    <tr>
        <td class="g1"> 1</td>
        <td class="nome">Botafogo</td>
        <td class="g0"> 43</td>
        <td> 17</td>
        <td> 14</td>
        <td> 22</td>
        <td> 32</td>
    </tr>

    <tr>
        <td class="g1"> 2</td>
        <td class="nome"> Flamengo</td>
        <td class="g0"> 31</td>
        <td> 17</td>
        <td> 9</td>
        <td> 10</td>
        <td> 30</td>
    </tr>

    <tr>
        <td class="g1"> 3</td>
        <td class="nome"> Palmeiras</td>
        <td class="g0"> 31</td>
        <td> 17</td>
        <td> 8</td>
        <td> 17</td>
        <td> 32</td>
    </tr>

    <tr>
        <td class="g1"> 4</td>
        <td class="nome"> Grêmio</td>
        <td class="g0"> 30</td>
        <td> 16</td>
        <td> 9</td>
        <td> 5</td>
        <td> 26</td>
    </tr>

    <tr>
        <td class="g2"> 5</td>
        <td class="nome"> Fluminense</td>
        <td class="g0"> 28</td>
        <td> 17</td>
        <td> 8</td>
        <td> 6</td>
        <td> 22</td>
    </tr>

    <tr>
        <td class="g2"> 6</td>
        <td class="nome"> Red Bull Bragantino</td>
        <td class="g0"> 28</td>
        <td> 17</td>
        <td> 7</td>
        <td> 9</td>
        <td> 25</td>
    </tr>

    <tr>
        <td class="g3"> 7</td>
        <td class="nome"> Athetico-PR</td>
        <td class="g0"> 27</td>
        <td> 17</td>
        <td> 8</td>
        <td> 4</td>
        <td> 25</td>
    </tr>

    <tr>
        <td class="g3"> 8</td>
        <td class="nome"> São Paulo</td>
        <td class="g0"> 26</td>
        <td> 17</td>
        <td> 7</td>
        <td> 7</td>
        <td> 23</td>
    </tr>

    <tr>
        <td class="g3"> 9</td>
        <td class="nome"> Cuiabá</td>
        <td class="g0"> 25</td>
        <td> 17</td>
        <td> 7</td>
        <td> -1</td>
        <td> 18</td>

    <tr>
        <td class="g3"> 10</td>
        <td class="nome"> Cruzeiro</td>
        <td class="g0"> 23</td>
        <td> 17</td>
        <td> 6</td>
        <td> 4</td>
        <td> 19</td>
    </tr>

    <tr>
        <td class="g3"> 11</td>
        <td class="nome"> Fortaleza</td>
        <td class="g0"> 23</td>
        <td> 17</td>
        <td> 6</td>
        <td> 4</td>
        <td> 19</td>
    </tr>

    <tr>
        <td class="g3"> 12</td>
        <td class="nome"> Internacional</td>
        <td class="g0"> 23</td>
        <td> 17</td>
        <td> 6</td>
        <td> -4</td>
        <td> 14</td>
    </tr>

    <tr>
        <td class="g4"> 13</td>
        <td class="nome"> Atlético-MG</td>
        <td class="g0"> 21</td>
        <td> 17</td>
        <td> 6</td>
        <td> 2</td>
        <td> 19</td>
    </tr>

    <tr>
        <td class="g4"> 14</td>
        <td class="nome"> Corinthians</td>
        <td class="g0"> 19</td>
        <td> 16</td>
        <td> 5</td>
        <td> -3</td>
        <td> 15</td>
    </tr>

    <tr>
        <td class="g4"> 15</td>
        <td class="nome"> Santos</td>
        <td class="g0"> 17</td>
        <td> 17</td>
        <td> 4</td>
        <td> -8</td>
        <td> 18</td>
    </tr>

    <tr>
        <td class="g4"> 16</td>
        <td class="nome"> Goiás</td>
        <td class="g0"> 16</td>
        <td> 17</td>
        <td> 4</td>
        <td> -11</td>
        <td> 16</td>
    </tr>

    <tr>
        <td class="g5"> 17</td>
        <td class="nome"> Bahia</td>
        <td class="g0"> 15</td>
        <td> 17</td>
        <td> 3</td>
        <td> -8</td>
        <td> 15</td>
    </tr>

    <tr>
        <td class="g5"> 18</td>
        <td class="nome"> Coritiba</td>
        <td class="g0"> 14</td>
        <td> 17</td>
        <td> 3</td>
        <td> -15</td>
        <td> 17</td>
    </tr>

    <tr>
        <td class="g5"> 19</td>
        <td class="nome"> América</td>
        <td class="g0"> 10</td>
        <td> 16</td>
        <td> 2</td>
        <td> -19</td>
        <td> 18</td>
    </tr>

    <tr>
        <td class="g5"> 20</td>
        <td class="nome"> Vasco</td>
        <td class="g0"> 9</td>
        <td> 16</td>
        <td> 2</td>
        <td> -16</td>
        <td> 12</td>
    </tr>

    <!-- TDODY = Corpo  -->
    </tbody>
</table>
</body>